.content-register-page {
  --padding-start: 15px;
  --padding-end: 15px;
  --padding-top: 15px;
  --padding-bottom: 15px;
}

.form-register{
  height: 100%;
}

ion-slides{
  height: 100%;
}


.swiper-slide {
  display: block;
}

ion-list{
  margin-top: 10%;
  vertical-align: middle;
}

.logo-image {
  margin: 10% 25% 0 25%;
  width: 50%;
  height: 25%;
}

.avatar-profile {
  margin: 0 auto;
}