.content_menu_side {
  --background: #333;
}

.item_list_menu_side {
  --background: #333;
  --color: #fff;
  --border-width: 0px;
}

.cover_menu_profile {
  height: 30vh;
  width: 100%;
  position: relative;
}

.cover_menu_profile_img {
  height: 20vh;
  width: 100%;
  object-fit: cover;
}

.cover_menu_gradient {
  width: 100%;
  height: 20.1vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  background: rgba(46, 46, 46, 0);
  background: -moz-linear-gradient(
    top,
    rgba(46, 46, 46, 0) 0%,
    rgba(46, 46, 46, 0) 36%,
    rgba(46, 46, 46, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(46, 46, 46, 0)),
    color-stop(36%, rgba(46, 46, 46, 0)),
    color-stop(100%, rgba(46, 46, 46, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(46, 46, 46, 0) 0%,
    rgba(46, 46, 46, 0) 36%,
    rgba(46, 46, 46, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(46, 46, 46, 0) 0%,
    rgba(46, 46, 46, 0) 36%,
    rgba(46, 46, 46, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(46, 46, 46, 0) 0%,
    rgba(46, 46, 46, 0) 36%,
    rgba(46, 46, 46, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(46, 46, 46, 0) 0%,
    rgba(46, 46, 46, 0) 36%,
    rgba(46, 46, 46, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2e2e', endColorstr='#2e2e2e', GradientType=0 );
}

.data_profile_menu_side{
    position: absolute;
    top: 10vh;
    height: 20vh;
    width: 100%;
    z-index: 10;
}

.data_profile_menu_side img{
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    border: 3px var(--ion-color-primary) solid;
    position: absolute;
    top: 5vh;
    left: 15px;
    object-fit: cover;
}

.data_text_profile_menu_side{
    height: 10vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    top: 5vh;
    right: 5px;
}

.data_text_profile_menu_side-name{
    color: var(--ion-color-primary);
    font-weight: bold;
    font-size: 19px;
    text-overflow: nowrap;
}

.data_text_profile_menu_side-profession{
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}
